---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Historia from "../components/Historia.astro";
import Evento from "../components/Evento.astro";
import Premios from "../components/Premios.astro";
import Registro from "../components/Registro.astro";
import Playlist from "../components/Playlist.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="50 Años Ely Fraire | La Fiesta del Año">
  <main>
    <Hero />

    <Historia />

    <Evento />

    <Registro />
    
    <Playlist />
    
    <Premios />

    <Footer />
  </main>
</Layout>
