---
import SectionTitle from "./SectionTitle.astro";
import Button from "./Button.astro";
import CardEvent from "./CardEvent.astro";
import { Image } from "astro:assets";
import lightsRed from "../assets/lights-red.png";
---

<section class="relative w-full overflow-hidden mb-50" id="evento">
  <div
    class="absolute inset-0 w-full h-[90%] z-0 pointer-events-none overflow-hidden"
  >
    <Image
      src={lightsRed} 
      alt="Fondo de luces rojas" 
      width={1200} 
      quality="high"
      loading="lazy"
      decoding="async"
      class="w-full h-full object-cover object-top"
      style="transform: translateZ(0); will-change: transform; backface-visibility: hidden;"
    />
  </div>

  <div
    class="absolute right-0 bottom-0 w-full h-[25%] bg-linear-to-t from-black via-black to-black/0 pointer-events-none z-10"
  >
  </div>

  <div class="mx-auto max-w-[1600px]">
    <div class="px-5 xs:px-10 lg:px-25 xl:px-40 relative z-20">
      <SectionTitle
        subtitle="Sobre el Evento"
        titleWhite="La Alfombra"
        titleGold="Roja"
      />

      <p
        class="font-sans font-light text-mont-15 xs:text-mont-18 text-white/90 leading-[1.8] max-w-150 mb-12"
      >
        Toma en cuenta toda esta información sobre el evento y los detalles
      </p>
    </div>

    <div
      class="cards-container relative z-20 flex overflow-x-auto overflow-y-hidden snap-x snap-mandatory w-full max-w-400 mx-5 xs:mx-10 sm:mx-auto gap-5 xs:gap-10 sm:px-10 lg:px-25 xl:px-40 sm:grid sm:grid-cols-2 lg:gap-10 overflow-visible pb-10 [&::-webkit-scrollbar]:hidden [-ms-overflow-style:'none'] [scrollbar-width:'none']"
    >
      <CardEvent
        title="Lugar del Evento"
        date="Sábado 5 de diciembre de 2026"
        time="3:00 p.m. — 10:00 p.m."
        locationName="Salón Tlanezi Calli"
        locationAddress="Canal de Chalco y Damianas, Unidad Tlanezi Calli, junto al Centro Gallego, Col. Rinconada El Molino, Iztapalapa."
        mapLink="https://www.google.com/maps/place/Tlanezicalli/@19.2913722,-99.0767578,17.86z/data=!4m6!3m5!1s0x85ce03b4151ead73:0x5cc32475856ed2ea!8m2!3d19.2907714!4d-99.0751715!16s%2Fg%2F1pp2wykj_?entry=ttu&g_ep=EgoyMDI2MDYxNi4wIKXMDSoASAFQAw%3D%3D"
      />

      <CardEvent
        title="Código de Vestimenta"
        dressCodeText={[
          "Esta alfombra roja corresponde a una actitud de gala. <strong class='text-white font-medium'>Attire Formal.</strong>",
          "Brilla como estrella. Recuerda que somos el centro de atención y queremos que la noche sea inolvidable.",
        ]}
      />
    </div>

    <div class="relative z-20 px-5 xs:px-10 lg:px-25 xl:px-40 flex justify-center mt-4">
      <Button href="#registro" text="Confirmar Asistencia" />
    </div>
  </div>
</section>

<script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";

  gsap.registerPlugin(ScrollTrigger);

  const cards = document.querySelectorAll("#evento .card-anim");

  if (cards.length > 0) {
    gsap.fromTo(
      cards,
      {
        y: 50,
        opacity: 0,
      },
      {
        scrollTrigger: {
          trigger: ".cards-container",
          start: "top 60%",
          toggleActions: "play none none none",
        },
        y: 0,
        opacity: 1,
        duration: 1.2,
        stagger: 0.2,
        ease: "power3.out",
        onStart: () => {
          cards.forEach((card) => card.classList.remove("opacity-0"));
        },
        clearProps: "transform",
      },
    );
  }
</script>
