---
import SectionTitle from "./SectionTitle.astro";
import Button from "./Button.astro";
---

<section class="relative w-full overflow-hidden pb-35 sm:pb-45" id="evento">

  <div
    class="absolute inset-0 w-full h-[90%] bg-[url('/lights-red.png')] bg-cover bg-top bg-no-repeat z-0 pointer-events-none"
  >
  </div>

  <div class="absolute right-0 bottom-0 w-full h-[25%] bg-linear-to-t from-black via-black to-black/0 pointer-events-none z-10"></div>

  <div class="px-5 lg:px-25 xl:px-40 relative z-20">
    <SectionTitle
      subtitle="Sobre el Evento"
      titleWhite="La Alfombra"
      titleGold="Roja"
    />

    <p
      class="font-sans font-light text-mont-15 xs:text-mont-18 text-white/90 leading-[1.8] max-w-150 mb-12"
    >
      Toma en cuenta toda esta información sobre el evento y los detalles
    </p>
  </div>
  <div
    class="relative z-20 flex overflow-x-auto snap-x snap-mandatory ml-5 sm:ml-0 sm:px-5 lg:px-25 xl:px-40 sm:grid sm:grid-cols-2 gap-6 lg:gap-10 overflow-visible pb-10 [&::-webkit-scrollbar]:hidden [-ms-overflow-style:'none'] [scrollbar-width:'none'] "
  >
    <!-- CARD 1 -->
    <div
      class="snap-start shrink-0 w-[80vw] xs:w-67 sm:min-w-0 sm:w-full bg-white/5 backdrop-blur-xl border border-white/10 border-t-white/20 border-l-white/20 shadow-[0_8px_32px_0_rgba(0,0,0,0.5)] rounded-[30px] p-8 lg:p-10 flex flex-col"
    >
      <h3 class="font-serif text-rose-30 text-white mb-8 leading-[1.2]">
        Lugar del Evento
      </h3>

      <ul class="space-y-6 flex-1">
        <li class="flex items-start gap-4">
          <svg
            class="w-6 h-6 text-white shrink-0 mt-0.5"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="1.5"
              d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z"
            ></path>
          </svg>
          <span
            class="font-sans font-light text-mont-15 text-white/90"
            >Sábado 5 de diciembre de 2026</span
          >
        </li>

        <li class="flex items-start gap-4">
          <svg
            class="w-6 h-6 text-white shrink-0 mt-0.5"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="1.5"
              d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z"></path>
          </svg>
          <span
            class="font-sans font-light text-mont-15 text-white/90"
            >3:00 p.m. — 10:00 p.m.</span
          >
        </li>

        <li class="flex items-start gap-4">
          <svg
            class="w-6 h-6 text-white shrink-0 mt-0.5"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="1.5"
              d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z"
            ></path>
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="1.5"
              d="M15 11a3 3 0 11-6 0 3 3 0 016 0z"></path>
          </svg>
          <span
            class="font-sans font-light text-mont-15 text-white/90"
            >Cabañas Cruz de Piedra</span
          >
        </li>
      </ul>

      <a
        href="#"
        class="inline-block mt-10 font-sans font-medium text-mont-12 tracking-[0.15em] text-white uppercase underline decoration-white/40 underline-offset-4 transition-colors duration-300 hover:text-gold hover:decoration-gold"
      >
        Ver Ubicación
      </a>
    </div>

    <!-- CARD 2 -->
    <div
      class="snap-start shrink-0 w-[80vw] xs:w-67 sm:min-w-0 sm:w-full bg-white/5 backdrop-blur-xl border border-white/10 border-t-white/20 border-l-white/20 shadow-[0_8px_32px_0_rgba(0,0,0,0.5)] rounded-[30px] p-8 lg:p-10 flex flex-col mr-5 sm:mr-0"
    >
      <h3 class="font-serif text-rose-30 text-white mb-8 leading-[1.2]">
        Código de Vestimenta
      </h3>

      <div
        class="space-y-6 font-sans font-light text-mont-15 sm:text-mont-18 text-white/90 leading-[1.8]"
      >
        <p>
          Esta alfombra roja corresponde a una actitud de gala. <strong
            class="text-white font-medium">Attire Formal.</strong
          >
        </p>
        <p>
          Brilla como estrella. Recuerda que somos el centro de atención y
          queremos que la noche sea inolvidable.
        </p>
      </div>
    </div>
  </div>

  <div class="relative z-20 px-5 lg:px-25 xl:px-40 flex justify-center mt-4">
    <Button href="#registro" text="Confirmar Asistencia" />
  </div>

</section>