---
---

<section class="relative w-full pb-10 px-5 xs:px-10 sm:px-10 flex flex-col items-center justify-center">
    
    <div class="w-full max-w-225 text-center">
        <h2 class="font-serif text-rose-30 xs:text-rose-45 lg:text-rose-50 leading-[1.1] uppercase text-white mb-10 lg:max-w-150 m-auto">
            “Nos vemos en la <span class="text-gold">Alfombra Roja</span>”
        </h2>

        <hr class="w-full max-w-150 border-gold opacity-60 mx-auto mb-10" />

        <span class="font-sans font-light text-mont-15 lg:text-mont-18 tracking-[0.3em] uppercase text-white/80 block mb-10">
            Ely Fraire &bull; 2026
        </span>

        <p class="font-sans font-light text-[10px] lg:text-mont-12 tracking-[0.2em] uppercase text-white/50">
            Desarrollado por Alejandro Canek
        </p>
    </div>

</section>