---
import "../styles/global.css";

interface Props {
  title: string;
}
const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap"
      rel="stylesheet"
    />

    <!-- <link rel="preload" href="/oscar_trophy.glb" as="fetch" type="application/octet-stream" crossorigin="anonymous"> -->
  </head>
  <body class="bg-black text-white font-sans overflow-x-hidden antialiased">
    <slot />
  </body>
</html>
